<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title center">
        I'm ready to manage your projects!
      </h1>
      <p class="subtitle center">
        Inspired by Asana
      </p>
      <figure class="center">
        <img src="https://app.asana.com/-/static/apps/asana/view/reskin_logo.png">
      </figure>
    
      <p class="center"><%=link_to 'Projects', account_projects_path, class: 'button is-small'%></p>
    </div>
  </div>
</section>
