<div class="container is-fluid">
  </div>
  <h2 class='title center'>New Project</h2>
  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <%= render 'partials/form_for_project'%>
    </div>
  </div>
</div>
